@model Data.Models.Customer

<h2>Beställnings sammanfattning av pågående ordrar</h2>

<div class="container-fluid">
    <div id="ui-view" data-select2-id="ui-view">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4" style="margin-left: 10px;margin-right: 10px;">

                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Beställnings ID</th>
                                        <th>Beskrivning</th>
                                        <th>Hatt Betalad</th>
                                        <th>Hatt färdig</th>
                                        <th>Hatt skickad</th>
                                        <th class="right">Pris</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.OrderList)
                                    {
                                        <tr>
                                            <td class="left">@item.orderId</td>
                                            <td class="left">@item.Description</td>
                                            <td class="left">@if (item.IsPaid == true)
                                            {<p>Betalad</p>}
                                            else {<p>Inte betalad</p> }</td>
                                            <td class="left">
                                                @if (item.IsHatFinnished == true)
                                                                                        {<p>Färdig</p>}
                                                                                        else
                                                                                        {<p>Inte färdig</p>}
                                            </td>
                                            <td class="left">
                                                @if (item.IsSent == true)
                                                                                        {<p>Skickad</p>}
                                                                                        else
                                                                                        {<p>Inte skickad</p>}
                                            </td>
                                            <td class="right">@item.Price</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h1> Kvar att betala: @ViewBag.TotalPrice SEK</h1>


<div style="text-align:right">@Html.ActionLink("Skriv ut sammanfattning", "OrderSummaryPdf", new { id = Model.CostumerId })</div>



<p>
    @Html.ActionLink("Tillbaka till kund detalj", "details", "Customer", new { id = Model.CostumerId }, null)
</p>
