@model Data.Models.Order

@{
    ViewBag.Title = "Ta bort beställning";
}

<h2>Ta bort beställning</h2>

<h3>Är du säker på att du vill ta bort beställningen?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employeeMakingOrder)
        </dt>

        <dd>
            @if (ViewBag.Anställd != null)
            {
                @ViewBag.Anställd
            }
            else
            {
                <p>Ingen aktiv anställd</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerOfOrder)
        </dt>

        <dd>
            @ViewBag.Kund
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productInOrder)
        </dt>

        <dd>
            @ViewBag.Produkt
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialInOrder)
        </dt>

        <dd>
            @ViewBag.Material
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHatFinnished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHatFinnished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaveMaterials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaveMaterials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till listan", "Index")
        </div>
    }
</div>
