@model IEnumerable<Data.Models.Order>

@{
    ViewBag.Title = "Details";
}

<h2>Beställnings detaljer</h2>
@foreach (var item in Model)
{
    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.employeeMakingOrder)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.employeeMakingOrder.Fullname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ownerOfOrder)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.ownerOfOrder.Fullname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.productInOrder.Title)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.productInOrder.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaterialInOrder)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.MaterialInOrder.MaterialName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsPaid)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsHatFinnished)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.IsHatFinnished)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsSent)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.IsSent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HaveMaterials)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.HaveMaterials)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Price)
            </dd>

            <dt>
                Material
            </dt>

            <dd>
                @ViewBag.Material
            </dd>

            <div class="col">
                <center>

                    @if (item.ImagePath == null || item.ImagePath != null)
                    {
                        var imgurl = "";
                        if (item.ImagePath == null)
                        {
                            <p>Ingen bild inlagd</p>
                        }
                        else
                        {
                            imgurl = "/Images/" + item.ImagePath;
                            <img src="@imgurl" width="100px" />

                        }

                    }
                </center>
            </div>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Redigera", "Edit", new { id = item.orderId }) |
        @Html.ActionLink("Tillbaka till listan", "Index") |
        @Html.ActionLink("Ta bort", "Delete", new { id = item.orderId })
        <br />
        @Html.ActionLink("Lägg till bild", "Create", "Image", new { id = item.orderId }, null) |
        @Html.ActionLink("adressetikett", "Invoice", new { id = item.orderId }) |
        @Html.ActionLink("Beställnings sammanfattning", "SpecificOrderSummary", new { id = item.orderId })
    </p>
}