@model IEnumerable<Data.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Beställningar</h2>

<div>

    @using (@Html.BeginForm("Index", "Orders", FormMethod.Get))
    {
        <div><b>Sortera på:</b></div>
        <div>
            <div>@Html.RadioButton("searchBy", "Alla Ordrar", true)<text>Alla Ordrar</text></div>
            <div>@Html.RadioButton("searchBy", "Betalda Ordrar")<text>Betalda Ordrar</text></div>
            <div>@Html.RadioButton("searchBy", "Färdiga Ordrar")<text>Färdiga Ordrar</text></div>
        </div>


        <div>
            <input class="btn btn-default" type="submit" value="Filtrera" />
        </div>

    }
</div>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ownerOfOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productInOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHatFinnished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeMakingOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ownerOfOrder.Fullname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.productInOrder.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateCreated)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsHatFinnished)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsPaid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.employeeMakingOrder.Fullname)
    </td>
    
            @if (!ViewBag.Orders.Contains(item.orderId.ToString()))
            {

                <td>
                    <input type="button" class="btn btn-default" value="Ta order" onclick="location.href='@Url.Action("AddEmployeeToOrder", "Orders", new { id = item.orderId })'" />
                </td>
            }
            else
            {
                <td>
                    <input type="button" class="btn btn-default" value="Lämna order" onclick="location.href='@Url.Action("RemoveEmployeeToOrder", "Orders", new { id = item.orderId })'" />
                </td>
            }
    <td>
        @Html.ActionLink("Redigera", "Edit", new { id = item.orderId }) |
        @Html.ActionLink("Detaljer", "Details", new { id = item.orderId }) |
        @Html.ActionLink("Ta bort", "Delete", new { id = item.orderId })
    </td>
</tr>
}

</table>
