@model IEnumerable<Data.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ownerOfOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productInOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHatFinnished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeMakingOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ownerOfOrder.Fullname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.productInOrder.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateCreated)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsHatFinnished)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsPaid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.employeeMakingOrder.Fullname)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.orderId }) |
        @Html.ActionLink("Details", "Details", new { id = item.orderId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.orderId })
    </td>
</tr>
}

</table>
