@model Data.Models.Order

<h2>Adressetikett</h2>

<div class="container-fluid">
    <div id="ui-view" data-select2-id="ui-view">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4" style="margin-left: 10px;margin-right: 10px;">
                        <div class="col-sm-4">
                            <h6 class="mb-3">Från:</h6>
                            <div>Address---</div>
                            <div>Hattmakarna</div>
                        </div>
                        <div class="col-sm-4">
                            <h6 class="mb-3">Till:</h6>
                            <div>@ViewBag.CustomerName</div>
                            <div>@ViewBag.CustomerAddress</div>
                            <div>@ViewBag.CustomerEmail</div>
                            <div>@ViewBag.CustomerPhone</div>
                        </div>
                        <div class="col-sm-4">
                            <h6 class="mb-3">Description:</h6>
                            <div>@Html.DisplayFor(model => model.Description)</div>
                            <h6 class="mb-3">Orderdate:</h6>
                            <div>@Html.DisplayFor(model => model.DateCreated)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="text-align:right">@Html.ActionLink("Skriv ut etikett", "InvoicePdf", new { id = Model.orderId })</div>

<p>
    @Html.ActionLink("Tillbaka till listan", "Index") | <br />
    @Html.ActionLink("Tillbaka till beställnings detaljer", "Details", new { id = Model.orderId })
</p>

