@model Data.Models.Order

@{
    ViewBag.Title = "Invoice";
}

<h2>Invoice</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employeeMakingOrder.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeMakingOrder.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerOfOrder.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownerOfOrder.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productInOrder.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productInOrder.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHatFinnished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHatFinnished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>Print invoice</h2>
<div class="container-fluid">
    <div id="ui-view" data-select2-id="ui-view">
        <div>
            <div class="card">
                <div class="card-header">
                    Invoice
                    <a class="btn btn-sm btn-secondary float-right mr-1 d-print-none" href="#" onclick="javascript:window.print();" data-abc="true">
                        <i class="fa fa-print"></i>Print
                    </a>
                </div>
                <div class="card-body">
                    <div class="row mb-4" style="margin-left: 10px;margin-right: 10px;">
                        <div class="col-sm-4">
                            <h6 class="mb-3">From:</h6>
                            <div>Address---</div>
                            <div>Företagsnamn---</div>
                        </div>
                        <div class="col-sm-4">
                            <h6 class="mb-3">To:</h6>
                            <div>Address--</div>
                            <div>Email--</div>
                            <div>Phone--</div>
                        </div>
                        <div class="col-sm-4">
                            <div>Details:</div>
                            <div>Date--</div>
                        </div>
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Item--</th>
                                        <th>Description--</th>
                                        <th class="right">price--</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="left">Hatt</td>
                                        <td class="left">SpecialProduct</td>
                                        <td class="right">@Html.DisplayFor(model => model.Price)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
