@model Data.Models.Order

<h2>Beställnings sammanfattning</h2>


<div class="container-fluid">
    <div id="ui-view" data-select2-id="ui-view">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4" style="margin-left: 10px;margin-right: 10px;">
                        <div class="col-sm-4">
                            <h6 class="mb-3">From:</h6>
                            <div>Address---</div>
                            <div>Hattmakarna</div>
                        </div>
                        <div class="col-sm-4">
                            <h6 class="mb-3">To:</h6>
                            <div>@ViewBag.CustomerAddress</div>
                            <div>@ViewBag.CustomerEmail</div>
                            <div>@ViewBag.CustomerPhone</div>
                        </div>
                        <div class="col-sm-4">
                            <div>@Html.DisplayFor(model => model.Description)</div>
                            <div>@Html.DisplayFor(model => model.DateCreated)</div>
                        </div>
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Beskrivning</th>
                                        <th>Hatt Betalad</th>
                                        <th>Hatt färdig</th>
                                        <th>Hatt skickad</th>
                                        <th class="right">Pris</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.OrderList)
                                    {
                                        <tr>

                                            <td class="left">@item.orderId</td>
                                            <td class="left">@item.Description</td>
                                            <td class="left">@item.IsPaid</td>
                                            <td class="left">@item.IsHatFinnished</td>
                                            <td class="left">@item.IsSent</td>
                                            <td class="right">@item.Price</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1> Kvar att betala: @ViewBag.TotalPrice SEK</h1>

@foreach (var item in ViewBag.OrderList)
{
    <div style="text-align:right">@Html.ActionLink("Skriv ut sammanfattning", "SpecificOrderSummaryPdf", new { id = item.orderId })</div>
}

<p>
    @Html.ActionLink("Tillbaka till listan", "Index")
</p>