@model IEnumerable<Data.Models.Product>

@{
    ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/productList.css")" rel="stylesheet" type="text/css" />

<h2>Produktlista</h2>

<div class="buttonMargin">
    <a href="~/Products/Create" class="btn btn-primary btn-lg"><i class="fa-solid fa-circle-plus"></i>Lägg till produkt</a>
</div>

<br />
<br />

<div>

    @using (@Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <div><b>Sort By:</b></div>
        <div>
            <div>@Html.RadioButton("searchBy", "All Products", true)<text>Alla produkter</text></div>
            <div>@Html.RadioButton("searchBy", "Stock Product")<text>Lagerförda produkter</text></div>
            <div>@Html.RadioButton("searchBy", "Customized Stock Product")<text>Skräddarsydda produkter</text></div>
            <div>@Html.RadioButton("searchBy", "Custom Made Product")<text>Special produkter</text></div>
        </div>

    <div>
        <input class="btn btn-default" type="submit" value="Filtrera" />
    </div>

    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsStockProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCostumerMeasuredProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSpecialProduct)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStockProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSpecialProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCostumerMeasuredProduct)
            </td>
            <td>
                @Html.ActionLink("Redigera", "Edit", new { id = item.productId }) |
                @Html.ActionLink("Detaljer", "Details", new { id = item.productId }) |
                @Html.ActionLink("Ta bort", "Delete", new { id = item.productId })
            </td>
        </tr>
    }

</table>
