@model IEnumerable<Data.Models.Product>

@{
    ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/productList.css")" rel="stylesheet" type="text/css" />

<h2>Products</h2>

<div class="buttonMargin">
    <a href="~/Products/Create" class="btn btn-primary btn-lg"><i class="fa-solid fa-circle-plus"></i>Add Product</a>
</div>

<br />
<br />

<div>

    @using (@Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <div><b>Sort By:</b></div>
        <div>
            <div>@Html.RadioButton("searchBy", "All Products", true)<text>All Products</text></div>
            <div>@Html.RadioButton("searchBy", "Stock Product")<text>Stock Product</text></div>
            <div>@Html.RadioButton("searchBy", "Customized Stock Product")<text>Customized Stock Product</text></div>
            <div>@Html.RadioButton("searchBy", "Custom Made Product")<text>Custom Made Product</text></div>
        </div>


        <div>
            <input class="btn btn-default" type="submit" value="Filter" />
        </div>

    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayName("Stock Product")
        </th>
        <th>
            @Html.DisplayName("Customized Stock Product")
        </th>
        <th>
            @Html.DisplayName("Custom-made Product")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsStockProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSpecialProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCostumerMeasuredProduct)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productId }) |
            @Html.ActionLink("Details", "Details", new { id=item.productId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productId })
        </td>
    </tr>
}

</table>
