@model IEnumerable<Data.Models.Material>

@{
    ViewBag.Title = "Index";
}

<h2>Material</h2>
<div class="buttonMargin">
    <a href="~/Material/Create" class="btn btn-primary btn-lg"><i class="fa-solid fa-circle-plus"></i>Lägg till material</a>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaterialName)
        </th>
        <th>
            Antal ordrar som behöver material:
        </th>
        <th>
            Sätt som beställd:
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaterialName)
    </td>
    @{
        var parameterValue = item.MaterialOfOrders.Where(x=>x.HaveMaterials == false).Count();
    }
    <td>
        @parameterValue
    </td>
    @if (parameterValue > 0)
    {

        <td>
            <input type="button" class="btn btn-default" value="Material beställd" onclick="location.href='@Url.Action("MaterialsOrdered", "Orders", new { id = item.MaterialId})'" />
        </td>
    }
    else
    {
        <td>
            <input type="button" disabled="disabled" class="btn btn-default" value="Material beställd" onclick="location.href='@Url.Action("MaterialsOrdered", "Orders", new { id = item.MaterialId })'" />
        </td>
    }
    <td>
        @Html.ActionLink("Redigera", "Edit", new { id = item.MaterialId }) 
    </td>
</tr>
}

</table>
