@model HatHut22.Models.TempCustomer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>




<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <br />
                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>Customer Details</h4>
                            </center>
                            <center>
                                <p>
                                    @Html.ActionLink("Edit", "Edit", new { id = Model.CostumerId }) |
                                    @Html.ActionLink("Back to List", "List")
                                </p>

                            </center>
                        </div>
                    </div>
                    @using (@Html.BeginForm("Index", "Profile", FormMethod.Post))
                    {


                        <div class="row">
                            <center>
                                <label>Name</label>
                                <div class="form-group">
                                    @Html.DisplayFor(model => model.Fullname)
                                </div>
                            </center>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>

                        <div class="row, text-center">
                            <div class="col-md-3">
                                <label class="text-center">Customer ID</label>
                                <div class="form-group">
                                    @Html.DisplayFor(model => model.CostumerId)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="text-center">Phone number</label>
                                <div class="form-group">
                                    @Html.DisplayFor(model => model.phoneNumber)
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="text-center">Email</label>
                                <div class="form-group">
                                    @Html.DisplayFor(model => model.Email)
                                </div>

                            </div>
                            <div class="col-md-3">
                                <label class="text-center">Address</label>
                                <div class="form-group">
                                    @Html.DisplayFor(model => model.Address)
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>Order List</h4>
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OwnerOfOrders, "Order IDs", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Customer in Order", new SelectList(Model.OwnerOfOrders, "Title"))

                                    @Html.ValidationMessageFor(model => model.OwnerOfOrders, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>Notes</h4>
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <asp:GridView class="table table-striped table-bordered" ID="GridView1" runat="server"></asp:GridView>
                            <center>@Html.DisplayFor(model => model.Notes)</center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Html.ActionLink("Samtliga ordrar av kunden", "OrderSummary", "Orders", new { id = Model.CostumerId }, null)