@model IEnumerable<Data.Models.Customer>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<a href="~/Customer/Create" class="btn btn-primary btn-lg"><i class="fa-solid fa-circle-plus"></i> Ny kund</a>
<p>
    @using (@Html.BeginForm("List", "Customer", FormMethod.Get))
    {
        <b>Search by name:</b>

        <div>
            @Html.TextBox("search")
            <input class="btn btn-default" type="submit" value="search" />
        </div>


    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fullname)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CostumerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CostumerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CostumerId })
                </td>
            </tr>
        }
    }

</table>
